*{
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}
:root{
    --x :rgb(79, 6, 6);
}
#logo{
    height: 100px;
    width: 100%;
}
ul li{
    font-size: 20px;
    /* margin: 0px 20px; */
}
li i{
    color: rgb(198, 185, 185);
}

#button{
    background-color: var(--x);
    color: white;
}
#button:hover{
    background-color: white;
    color: var(--x);
    border-color: var(--x);
}
@media(max-width:992px){
    #icon{
        display: none;
    }
}
#main{
    background-image: url('./images/bg.jpg');
    /* height: 100vh ; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#bl{
    width: 100%;
    /* height: 120vh; */
    background-color: rgba(0, 0, 0, 0.477);
}
#welcome{
    padding-top: 21%;
    padding-left: 5%;
}
#welcome h4{
    color: white;
    font-size: 30px;
}
#welcome h1{
    font-size: 80px;
    color: white;
}
@media(max-width:600px){
    #main{
        background-position: bottom;
    }
    #welcome h4{
        font-size: 20px;

    }
    #welcome h1{
        font-size: 50px;
    }
}
#work{
    margin-top: 5%;
    background-image: url('https://img.freepik.com/free-vector/blurred-bokeh-banner-perfect-backdrop-your-creative-project-vector_1017-48613.jpg');
    padding-top: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div .viewbtn{
    border-color: var(--x);
    color: var(--x);
}
div .viewbtn:hover{
    background-color: var(--x);
    color: white;
}
#about{
    background-color: rgb(219, 219, 219);
    padding: 10% 0px;
}
#hr{
    height: 0.4rem;
    width: 10rem;
    background-color: var(--x);
}
#about h1{
    color: var(--x);
}
#about p{
    text-align: justify;
}
#abimg{
    border:7px solid var(--x);
    width: 80%;
    height:490px ;
    padding-top: 4%;
    padding-left:7%;
}
#gallery{
    height: 100vh;
}
.row{
        background-color: white;

}
.projdiv1{
    position: relative;
    width: 100%;
    height: 100%;
   
}
.projdiv1 img{
    position: absolute;
    height: 100%;
}




.projdiv2{
    width: 50%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.615);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0px;
}

.projdiv3{
    width: 55%;
    height: 12%;
    background-color: rgba(0, 0, 0, 0.615);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0px;
}
.project_gallery_div1 img{
    position: absolute;
    height: 100%; 
}


.project_gallery_div1{
    
    position: relative;
    width: 100%;
    height: 100%;  

}

.project_gallery_div2{
    width: 55%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.615);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0px;
}
.project_gallery_div3{
    width: 75%;
    height: 27%;
    background-color: rgba(0, 0, 0, 0.615);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0px;
}






